
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5d9d9;
    margin: 0;
    padding: 0;
    color: #333;
     /* Set the background image using url_for */
     background-image: url("{{ url_for('static', filename='background_image.jpg') }}");

     /* Other styles for the background */
     background-size: cover;
     background-position: center;
     /* Additional styles if needed */
}





/* Header styles */
header {
    
    
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Section styles */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.meal {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.meal img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.meal h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.meal p {
    margin: 10px 0;
    font-size: 1rem;
}

.meal button {
    background-color: #E73A15;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button{
color: #fff;
}

.meal button:hover {
    background-color: #E73A15;
}

/* Footer styles */
footer {
    background-color: rgba(82, 35, 31, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fix the footer at the bottom of the viewport */
    bottom: 0; /* Position it at the bottom */
    width: 100%; /* Full width */
}


